<h1>Survey</h1>
	
	<%= form_tag("/post", method: "post") do |f| %>
  

		
	<% @questions.each do |question| %>
		<h4> <%= question.importance %>. <%= question.content %> </h4>
		<% question.answers.each do |answer| %>
		<div>
		<%= radio_button :response, '#{answer.content}' %>

		<input type="radio"><%= answer.content %></div>

		<% end %>
	<% end %>
  <%= submit_tag("Submit") %>
<% end %>



